front/node_modules
back/node_modules
back/*.db
back/data
.env
front/.env
back/.env
front/.playwright-cli
back/package-lock.json
front/package-lock.json
.playwright-cli
back/test-results
front/test-results
scratch_video
.DS_Store
**/.DS_Store