.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  flex-grow: 1;
  padding: var(--space-2xl) var(--margin-screen);
  text-align: center;
}

.not-found__link {
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
